@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --dark: #1a2027;
  --white: #ffffff;
  --blue: #3e95ff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 114px;
  background: var(--dark);
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 70px;
}
.menu li {
  display: inline-block;
  width: 90px;
  transition: all 0.3s ease-in-out;
}
.menu li:hover .submenu {
  height: 85px;
}
.menu li .submenu a {
  color: #fff;
  opacity: 0;
  font-size: 16px;
  transition: opacity 0.25s;
}
.menu > li:hover > a {
  color: var(--blue);
}
.menu > li:hover > a::before {
  visibility: visible;
  scale: 1 1;
}
.menu > li:hover .submenu a {
  opacity: 1;
}
.menu > li .submenu a:hover {
  background: rgba(0, 0, 0, 0.2);
}
.menu > li a {
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
  text-decoration: none;
  position: relative;
  height: 100%;
}
.menu > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 3px;
  left: 0px;
  background-color: var(--blue);
  transition: all 0.2s ease-in-out;
  scale: 0 0;
  visibility: hidden;
}

.submenu {
  overflow: hidden;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  background-color: var(--blue);
  height: 0;
  line-height: 40px;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out;
}

hr {
  background: var(--blue);
  border: none;
  border-radius: 2rem;
  height: 0.5rem;
}

main {
  color: var(--white);
  scroll-snap-type: y mandatory;
  padding-bottom: 2rem;
}
main .hero {
  background-image: url(../images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
main .hero .overlay {
  background-color: rgba(26, 32, 39, 0.8509803922);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  height: 100vh;
  line-height: 20px;
}
main .hero .overlay h1 {
  margin: 2rem;
  margin-top: -5vh;
  font-size: 70px;
}
main .hero .overlay p {
  font-size: 25px;
}
main section {
  min-height: 100vh;
  margin: 2rem;
}
main section h1 {
  padding-top: 30px;
  font-size: 35px;
}
main .tjanster {
  scroll-snap-align: start;
  text-align: center;
}
main .tjanster .tjanster-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70vh;
}
main .tjanster .tjanster-container .tjanster-left {
  max-width: 575px;
  min-height: 245px;
  text-align: left;
}
main .tjanster .tjanster-container img {
  width: 250px;
}
main .kunder {
  scroll-snap-align: start;
  text-align: center;
}
main .kunder .kunder-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70vh;
  gap: 2rem;
}
main .kunder .kunder-container .kunder-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 575px;
  min-height: 450px;
  gap: 10px;
}
main .kunder .kunder-container .kunder-left img {
  width: 150px;
}
main .kunder .kunder-container .kunder-right {
  max-width: 435px;
  min-height: 500px;
  text-align: left;
}
main .kunder .kunder-container .kunder-right ul {
  font-size: 15px;
  list-style: circle;
}
main .kunder .kunder-container .kunder-right ul li {
  margin-left: 20px;
}
main .priser {
  scroll-snap-align: start;
  text-align: center;
}
main .priser .pris-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 70vh;
  align-items: center;
}
main .priser .pris-container .pris-left {
  max-width: 575px;
  min-height: 285px;
  text-align: left;
}
main .priser .pris-container img {
  height: 300px;
  width: 300px;
}
main .kontakt {
  scroll-snap-align: start;
  text-align: center;
  min-height: 60vh;
}
main .kontakt .contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
main .kontakt .contact-container .contact-info {
  max-width: 435px;
  min-height: 300px;
  text-align: left;
}
main .kontakt .contact-container .contact-info i {
  font-size: 14px;
}
main .kontakt .contact-container .contact-info a {
  color: var(--white);
  text-decoration: underline;
  line-height: 20px;
}
main .kontakt .contact-container .contact-info svg {
  float: left;
  margin-right: 10px;
}
main .kontakt .contact-container .contact-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 450px;
  min-height: 385px;
  gap: 20px;
}
main .kontakt .contact-container .contact-form .form-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 20px;
}
main .kontakt .contact-container .contact-form .form-inputs::-moz-placeholder {
  color: #a9a9a9;
}
main .kontakt .contact-container .contact-form .form-inputs::placeholder {
  color: #a9a9a9;
}
main .kontakt .contact-container .contact-form textarea {
  min-height: 140px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Poppins";
}
main .kontakt .contact-container .contact-form button {
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: var(--white);
  border: none;
  border-radius: 20px;
  background-color: var(--blue);
  cursor: pointer;
}

footer {
  position: absolute;
  left: 0;
  bottom: -214px;
  max-height: 214px;
  min-width: 100%;
  padding: 10px 0 10px 0;
  color: var(--white);
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  gap: 20px;
}
footer .legal {
  font-size: 12px;
}
footer ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
footer section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  padding-bottom: 80px;
  padding-left: 60px;
  width: 100%;
}
footer a {
  text-decoration: none;
  color: var(--white);
}

.hidden {
  opacity: 0;
  transition: all 1.5s;
}

.show {
  opacity: 1;
}

@media (max-width: 600px) {
  nav {
    display: none;
  }
  footer ul {
    display: none;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    min-height: 100vh;
  }
  .hero div {
    display: flex;
    flex-direction: column;
  }
  .hero div h1 {
    margin-top: 5vh;
    line-height: normal;
    font-size: 50px;
  }
  .kontakt .contact-container .contact-form .form-inputs {
    max-width: 70vw;
  }
}/*# sourceMappingURL=style.css.map */